.c-footer{
    height: 250px;
    background-color: color(gray-2);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.c-footer__info{
    width: 350px;
}

.c-footer__container{
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.c-footer__round-ico{
    width:50px;
    height: 50px;
    background-color: color(gray-3);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    font-size: font-size(size-24);
    color:color(white-1);
}






.c-footer__about{
    width: 400px;
}

.c-footer__title{
    margin-bottom: 15px;
}