.f-form{
    border: 1px solid color(white-1);
    padding: 30px;
    border-radius: 10px;
}
.f-form__label{
    font-size: font-size(size-18);
}
.f-form__input{
    @include input-reset;
    border-bottom: 1px solid color(white-1);
    color: color(white-1);
    font-size: font-size(size-16);
}
.f-form__input-wrapper{
    display: flex;
    flex-direction: column;
    &:not(:last-child){
        margin-bottom: 20px;
    }
}
.f-form__textarea{
    @include input-reset;
    border: 1px solid color(white-1);
    resize: vertical;
       color: color(white-1);
    font-size: font-size(size-18);
}
.f-form__submit{
    @include button-reset;
    color: color(white-1);
    border: 2px solid color(white-1);
    width: 30%;
    font-size: font-size(size-18);
    height: 4rem;
    margin: 0 auto;
}