.c-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 75px;
}

.c-header__logo {
  margin: 0 10px;
}

.c-header__link {
  text-decoration: none;
  color: color(white-1);
  font-size: font-size(size-32);
}

.c-header__nav {
  z-index: z-index(header);
  display: none;
  
  @include media(desktop-small) {
    height: 100%;
    display: block;
  }
}

.c-header.is-open .c-header__nav {
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  display: block;
  width: 100%;
  @include media(desktop-small) {
    position: static;
    width: auto;
  }
}
.c-header__burger-container {
  margin: 0 10px;
}

.c-main-nav__item {
  height: 4rem;
  line-height: 4rem;
}