.c-slider {
  position: relative;
  height: calc(100vh - 37px);
}

.c-slider__slide {
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.c-slider__slide.is-active {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.c-slider__button {
  @include button-reset();
  width: font-size(size-32);
  height: font-size(size-32);
  background-color: color(gray-1);
  border-radius: 50%;
  border: 2px solid color(white-1);
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  &::after {
    position: absolute;
    content: "";
    display: block;
    height: 2px;
    width: 55%;
    background-color: color(white-1);
    border-radius: 2px;
    bottom: 29%;
  }
  &::before {
    position: absolute;
    content: "";
    display: block;
    height: 2px;

    width: 55%;
    background-color: color(white-1);
    top: 29%;
    border-radius: 2px;
  }

  &:hover {
    cursor: pointer;
  }
}

.c-slider__button--left {
  left: 20px;

  &::after {
    left: 20%;

    transform: rotate(45deg);
  }
  &::before {
    left: 20%;

    transform: rotate(-45deg);
  }
}

.c-slider__button--right {
  right: 20px;

  &::after {
    right: 20%;
    transform: rotate(-45deg);
  }
  &::before {
    right: 20%;
    transform: rotate(45deg);
  }
}

.c-slider__image {
  width: 100%;
  height: 100%;
  background-size: cover;
}
.c-slider__slide {
  position: absolute;
  background-size: cover;
  background-position: center;
}
.c-slider__dots-list {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-flex;
  width: fit-content;
  place-items: center;
}
.c-slider__dot {
  height: 12px;
  width: 12px;
  background: color(white-1);
  border: 2px solid color(white-1);
  border-radius: 50%;
  display: flex;
  place-items: center;
  margin: 0 5px;
  transition: background 0.5s ease-in-out;
}
.c-slider__dot.is-active {
  background: color(dark-gray);
  transition: background 0.5s ease-in-out;
}
