<footer class="l-footer">
  <div class="l-inner">
    <div class="c-footer">
      <div class="c-footer__info">
        <div class="c-footer__container">
          <div class="c-footer__round-ico">
            <i class="fas fa-map-marker-alt c-footer__location-ico"></i>
          </div>
          <div class="c-footer__adress">
            <p class="c-footer__street">Śródmieście 32/3</p>
            <p class="c-footer__post">16-300 Augustów, Polska</p>
          </div>
        </div>
        <div class="c-footer__container">
          <div class="c-footer__round-ico">
            <i class="fa-solid fa-phone c-footer__telephone-ico"></i>
          </div>
          <p>+48 505 701 875</p>
        </div>
        <div class="c-footer__container">
          <div class="c-footer__round-ico">
            <i class="fa-solid fa-envelope c-footer__ico-mail"></i>
          </div>
          <p>jmuslugi@gmail.com</p>
        </div>
      </div>
      <div class="c-footer__about">
        <h1 class="c-footer__title">About the Company</h1>
        <p>
          They are responsive and easy to customize. The CSS is split into
          separate files for each of the templates so that you can include the
          footer into an existing website with just copy and paste. Besid
        </p>
      </div>
    </div>
  </div>
</footer>
