<header class="l-header">
  <div class="l-inner">
    <div class="c-header js-header">
      <div class="c-header__logo">
        <a href="" class="c-header__link">Just Married</a>
      </div>
      <div class="c-header__burger-container">
        <button class="c-burger js-hamburger">
          <span class="c-burger__lines"></span>
        </button>
      </div>
      <nav class="c-header__nav">
        <ul class="c-main-nav">
          <li class="c-main-nav__item">
            <a href="" class="c-main-nav__link">Start</a>
          </li>
          <li class="c-main-nav__item">
            <a href="" class="c-main-nav__link">Menu 2</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
