{% set page_name = 'Home Page' %} {% extends "layouts/default.njk" %} {% block
content %}
<main class="l-main">
  <div class="l-inner">
    <section class="c-slider js-slider">
      <div class="c-slider__slides js-slides"></div>
      <button
        class="c-slider__button c-slider__button--left js-button-left"
      ></button>
      <button
        class="c-slider__button c-slider__button--right js-button-right"
      ></button>
      <ul class="c-slider__dots-list js-dots-list"></ul>
    </section>
    <section class="c-price-list s-bottom-100">
      <h1 class="c-price-list__title">Pakiety & Cennik</h1>
      <h2 class="c-price-list__subtitle">Wybierz jeden z pakietów:</h2>
      <div class="c-price-list__prices-container">
        <div class="c-price-list__price-box">
          <div class="c-price-list__price c-price-list__price--navy-blue">
            <p class="c-price-list__plan-name">STYPA</p>
            <p class="c-price-list__plan-price">550 zł</p>
          </div>
          <ul class="c-price-list__options">
            <li class="c-price-list__option">
              <i class="fas fa-check ui-color--green"></i> 2 godziny zabawy
            </li>
            <li class="c-price-list__option">
              <i class="fas fa-check ui-color--green"></i> Nieograniczona ilość
              wykonanych zdjęć
            </li>
            <li class="c-price-list__option">
              <i class="fas fa-check ui-color--green"></i> Mnóstwo śmiesznych
              gadżetów
            </li>
            <li class="c-price-list__option">
              <i class="fas fa-check ui-color--green"></i> Asystent do fotobudki
            </li>
            <li class="c-price-list__option">
              <i class="fas fa-check ui-color--green"></i> Personalizacja
              wydruku zdjęć
            </li>
            <li class="c-price-list__option">
              <i class="fas fa-check ui-color--green"></i> Galeria zdjęć w
              internecie
            </li>
            <li class="c-price-list__option">
              <i class="fas fa-check ui-color--green"></i> Tło do wyboru
            </li>
            <li class="c-price-list__option">
              <i class="fas fa-times ui-color--red"></i> Pendrive ze zdjęciami
            </li>
            <li class="c-price-list__option">
              <i class="fas fa-times ui-color--red"></i> Green Screen
            </li>
            <li class="c-price-list__option">
              <i class="fas fa-times ui-color--red"></i> Księga gości gratis
            </li>
          </ul>
          <button class="c-price-list__button">WYBIERZ PAKIET</button>
        </div>
        <div class="c-price-list__price-box">
          <div class="c-price-list__price c-price-list__price--green">
            <p class="c-price-list__plan-name">POTUPAJKA</p>
            <p class="c-price-list__plan-price">700 zł</p>
          </div>
          <ul class="c-price-list__options">
            <li class="c-price-list__option">
              <i class="fas fa-check ui-color--green Ui-color--green"></i>
              3 godziny zabawy
            </li>
            <li class="c-price-list__option">
              <i class="fas fa-check ui-color--green"></i> Nieograniczona ilość
              wykonanych zdjęć
            </li>
            <li class="c-price-list__option">
              <i class="fas fa-check ui-color--green"></i> Mnóstwo śmiesznych
              gadżetów
            </li>
            <li class="c-price-list__option">
              <i class="fas fa-check ui-color--green"></i> Asystent do fotobudki
            </li>
            <li class="c-price-list__option">
              <i class="fas fa-check ui-color--green"></i> Personalizacja
              wydruku zdjęć
            </li>
            <li class="c-price-list__option">
              <i class="fas fa-check ui-color--green"></i> Galeria zdjęć w
              internecie
            </li>
            <li class="c-price-list__option">
              <i class="fas fa-check ui-color--green"></i> Tło do wyboru
            </li>
            <li class="c-price-list__option">
              <i class="fas fa-check ui-color--green"></i> Pendrive ze zdjęciami
            </li>
            <li class="c-price-list__option">
              <i class="fas fa-check ui-color--green"></i> Green Screen
            </li>
            <li class="c-price-list__option">
              <i class="fas fa-times ui-color--red"></i> Księga gości gratis
            </li>
          </ul>
          <button class="c-price-list__button">WYBIERZ PAKIET</button>
        </div>
        <div class="c-price-list__price-box">
          <div class="c-price-list__price c-price-list__price--orange">
            <p class="c-price-list__plan-name">REMIZA</p>
            <p class="c-price-list__plan-price">850 zł</p>
          </div>
          <ul class="c-price-list__options">
            <li class="c-price-list__option">
              <i class="fas fa-check ui-color--green"></i> 4 godziny zabawy
            </li>
            <li class="c-price-list__option">
              <i class="fas fa-check ui-color--green"></i>
              Nieograniczona ilośćwykonanych zdjęć
            </li>
            <li class="c-price-list__option">
              <i class="fas fa-check ui-color--green"></i> Mnóstwo śmiesznych
              gadżetów
            </li>
            <li class="c-price-list__option">
              <i class="fas fa-check ui-color--green"></i> Asystent do fotobudki
            </li>
            <li class="c-price-list__option">
              <i class="fas fa-check ui-color--green"></i> Personalizacja
              wydruku zdjęć
            </li>
            <li class="c-price-list__option">
              <i class="fas fa-check ui-color--green"></i> Galeria zdjęć w
              internecie
            </li>
            <li class="c-price-list__option">
              <i class="fas fa-check ui-color--green"></i> Tło do wyboru
            </li>
            <li class="c-price-list__option">
              <i class="fas fa-check ui-color--green"></i> Pendrive ze zdjęciami
            </li>
            <li class="c-price-list__option">
              <i class="fas fa-check ui-color--green"></i> Green Screen
            </li>
            <li class="c-price-list__option">
              <i class="fas fa-check ui-color--green"></i> Księga gości gratis
            </li>
          </ul>
          <button class="c-price-list__button">WYBIERZ PAKIET</button>
        </div>
      </div>
    </section>
    <section class="c-calendar s-bottom-100">
      <div class="c-calendar__header">
        <button class="c-calendar__previous-icon js-button-prev">
          <i class="fas fa-map-marker-alt c-footer__location-ico"></i>
        </button>
        <div class="c-calendar__title">
          <p class="c-calendar__month js-month">Kwiecień</p>
          <p class="c-calendar__date js-date">pt. Kwiecień 15,2022</p>
        </div>
        <button class="c-calendar__next-icon js-button-next">
          <i class="fas fa-map-marker-alt c-footer__location-ico"></i>
        </button>
      </div>
      <div class="c-calendar__weekdays">
        <div>Pon</div>
        <div>Wt</div>
        <div>Śr</div>
        <div>Czw</div>
        <div>Pt</div>
        <div>Sob</div>
        <div>Ndz</div>
      </div>
      <div class="c-calendar__days js-days"></div>
    </section>
    <section class="l-contact s-bottom-100">
      <div class="l-inner">
        <div class="c-contact">
          <h1 class="c-contact__title">Skontaktuj się z nami</h1>
          <div class="c-contact__content">
            <div class="c-contact__info">
              <ul class="c-info-list">
                <li class="c-info-list__item">
                  <div class="c-info-box">
                    <i class="c-info-box__icon fas fa-map-marker-alt"></i>
                    <div class="c-info-box__wrapper">
                      <p class="c-info-box__description">Śródmieście 32/3,</p>
                      <p class="c-info-box__description">
                        16-300 Augustów, Polska
                      </p>
                    </div>
                  </div>
                </li>
                <li class="c-info-list__item">
                  <div class="c-info-box">
                    <i class="c-info-box__icon fa-solid fa-phone"></i>
                    <p class="c-info-box__description">
                      <a href="tel:+4850570187" class="c-info-box__link">
                        +48 505 701 87
                      </a>
                    </p>
                  </div>
                </li>
                <li class="c-info-list__item">
                  <div class="c-info-box">
                    <i class="c-info-box__icon fa-solid fa-envelope"></i>
                    <p class="c-info-box__description">
                      <a href="#" class="c-info-box__link">
                        jmuslugi@gmail.com
                      </a>
                    </p>
                  </div>
                </li>
              </ul>
            </div>
            <div class="c-contact__form-container">
              <form class="f-form" method="POST" action="mailer">
                <div class="f-form__input-wrapper">
                  <label for="username" class="f-form__label"
                    >Imię i nazwisko:</label
                  >
                  <input
                    id="username"
                    type="text"
                    class="f-form__input"
                    name="name"
                    required
                  />
                </div>
                <div class="f-form__input-wrapper">
                  <label for="email" class="f-form__label">Email:</label>
                  <input
                    id="email"
                    type="email"
                    class="f-form__input"
                    name="email"
                    required
                  />
                </div>
                <div class="f-form__input-wrapper">
                  <label for="phone" class="f-form__label"
                    >Numer telefonu:</label
                  >
                  <input
                    id="phone"
                    type="text"
                    class="f-form__input"
                    name="phone"
                    required
                  />
                </div>
                <div class="f-form__input-wrapper">
                  <label for="message" class="f-form__label">Treść:</label>
                  <textarea
                    id="message"
                    type="text"
                    class="f-form__textarea"
                    rows="5"
                    cols="60"
                    name="message"
                    required
                  ></textarea>
                </div>
                <div class="f-form__input-wrapper">
                  <button type="submit" class="f-form__submit">Wyślij</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="l-cookies is-visible js-cookies-bar">
      <div class="c-cookies">
        <h2 class="c-cookies__title">Ciasteczka</h2>
        <p class="c-cookies__description">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit.Animi
          necessitatibus exercitationem aliquid.
          <a href="#" class="c-cookies__link">Polityka prywatności</a>
        </p>
        <button class="c-cookies__button js-accept-cookies">
          Akceptuj wszystko
        </button>
      </div>
    </section>
  </div>
</main>
{% endblock %}
